.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-border-radius,
  );
  line-height: $btn-line-height;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: $body-color;
  transition: $btn-transition;
  background-image: none;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg,
  );
}
.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm,
  );
}

.btn-primary {
  @include button-style($primary, $white, $primary);
}

.btn-danger {
  @include button-style($danger, $white, $danger);
}

.btn-default {
  @include button-style(
    $white,
    $body-color,
    $gray-100,
    $white,
    $primary,
    $primary
  );
}

.btn-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
    box-shadow: none;
    &.hover{
        color:$link-hover-color;
        text-decoration:$link-hover-decoration
    }
    &.focus,&[focus]{
        text-decoration:$link-hover-decoration;
        box-shadow: none;
    }
    &.disabled,&[disabled]{
        color:$btn-link-disabled-color;
        pointer-events: none;
    }
}